.modern_restaurent-services {
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  position: relative;
  transition: background-image 1s ease;
}

.modern_restaurent-services img {
  width: 100%;
  height: 100%;
}

.modern-restaurent_services_recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
}
.modern-restaurent_services_recipes > * {
  flex: 1;
}
.modern_restaurent-services > * {
  flex: 1;
}
.modern_restaurent-services:hover {
  background-image: none;
}

.modern_restaurent-services_item {
  border-top: none;
  border-bottom: none;
  height: 100%;
  width: 100%;
  position: relative;
  transition: bottom 1s ease-out;
}
.mocktail {
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}

.modern_restaurent-text_changing {
  position: absolute;
  transition: bottom 1s ease-out;
  bottom: 0%;
  text-align: center;
}
.modern_restaurent-text_changing h3 {
  color: black;
  font-weight: bold;

  font-family: var(--font-alt);
}
.modern_restaurent-text_changing p {
  color: var(--color-white);
  font-family: var(--font-alt);
  font-weight: bold;

  font-size: 1.2rem;
}

.modern_restaurent-services_item:hover .modern_restaurent-text_changing {
  bottom: 100px;
}

.modern_restaurent-services_heading {
  margin: 2rem 0;
}
.modern_restaurent-services_heading h3 {
  text-align: center;
  color: var(--color-golden);
  font-family: var(--font-alt);
  letter-spacing: 1px;
}
.modern_restaurent-services_heading h1 {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  color: white;
  font-family: var(--font-alt);
  font-size: 3rem;
}
.modern_restaurent-services_heading p {
  text-align: center;
  width: 60%;
  color: var(--color-golden);
  font-family: var(--font-alt);
  font-size: 1.2rem;
  margin: 0 auto;
}
.modern_restaurent-services_heading_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.modern_restaurent-services_heading_button button {
  padding: 0.9rem;
  margin: 2rem;
  font-family: var(--font-base);
  background-color: var(--color-golden);
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}
